body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    background-color: #425e4c;
    padding: 20px;
}
.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #97b4a1;
    margin: 5px;
    padding: 20px;
    background-color: #5fa075;
    width: 150px;
    height: 100px;
}
.flexbox p {
    margin: 0
}